@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Source Sans Pro;
    font-weight: 400;
}

body {
    margin: 0 auto;
    max-width: 414px;
    background: #505050;
}

ul {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

h1, h2, h2 a, h3, button {
    font-weight: 700;
}

main {
    flex-direction: column;
    padding-bottom: 2.25em;
    background: #fff;
}

/* Misc */

.flex-column {
    display: flex;
    flex-direction: column;
}

.lh1-25 {
    line-height: 1.25;
}

/* Featured Mixed */

.featured__wrapper__date, .featured-post__date {
    font-size: 0.75rem;
}

/* Featured Min */

.featured {
    display: flex;
    align-items: flex-end;
    min-height: 293px;
    padding: 1.5625em 1.25em;
}

.featured, .featured h2 a {
    color: #fff;
}

.featured__wrapper__heading {
    margin: 0.5625em 0;
}

.featured__wrapper__heading a {
    font-size: 2rem;
    line-height: 35px;
    letter-spacing: -0.03em;
}

/* Featured Max */

.featured-main {
    padding: 2em 1.25em 3.5em;
}

.featured-post__date, .featured-post__heading {
    margin-bottom: 1rem;
}

.featured-post__heading{
    font-size: 2em;
    line-height: 1.06;
}

.featured-post img {
    margin: 2.1875em 0;
    max-width: 100%;
    max-height: 191px;
    object-fit: cover;
}

.featured-post__wrapper__article__heading, .featured-post__wrapper__article__desc {
    margin-bottom: 1.8125em;
}

.featured-post__wrapper__article__heading {
    font-size: 1rem;
}

/* Blog */

.blog ul {
    padding-top: 1.25em;
}

.blog ul li {
    display: grid;
    grid-template: 1.25em auto 1fr 2fr 2fr 1.25em / 1.25em 1fr 2fr 1.25em;
    grid-template-areas:
        ".     .              .        ."
        ". blog-image     blog-image   ."
        ". blog-date          .        ."
        ". blog-heading   blog-heading ."
        ". blog-desc      blog-desc    ."
        ".     .              .        ."
    ;

    justify-items: start;
}

.blog ul li img {
    grid-area: blog-image;
    width: 100%;
    justify-self: center;
    object-fit: cover;
    border-radius: 1%;
}

.blog__date {
    grid-area: blog-date;
    align-self: end;

    font-size: 0.875rem;
    line-height: 1.29;
}

.blog__heading {
    grid-area: blog-heading;
    align-self: center;

    font-size: 1.5rem;
    line-height: 1.08;
}

.blog__desc {
    grid-area: blog-desc;
    align-self: end;

    color: #505050;
}

.blog__btn {
    margin: 0 auto;
    border: none;
    background: none;
    padding: 0.4375em;
    margin-bottom: 0.4375em;
    cursor: pointer;

    text-decoration: underline;
    text-transform: capitalize;
}

/* Media */

@media (min-width: 1085px) {
    body {
        max-width: 1085px;
    }

    main {
        background-color: #FAFAFA;
    }

    /* Featured Mixed */

    .featured__wrapper__date, .featured__wrapper__desc, .featured-post__date {
        font-size: 1rem;
    }

    .featured__wrapper__heading a, .featured-post__heading {
        line-height: 1.08;
    }

    .featured-post__date, .featured-post__heading {
        margin-bottom: 0rem;
    }

    /* Featured Min */

    .featured {
        background-position: top center;
        padding: 3.6875em;
        min-height: 488px;
    }

    .featured__wrapper__heading a{
        font-size: 2.5rem;
        transition: ease-in 0.1s;
    }

    .featured__wrapper__heading a:hover {
        border-bottom: 3px solid #fff;
    }

    .featured__wrapper__desc {
        padding-right: 36%;
    }

    /* Featured Max */

    .featured-main {
        padding: 0;
    }

    .featured-post {
        display: grid;
        grid-template: 1fr 1.5em 1fr 1.5em 1fr 2.25em auto 2.25em auto / 3.3125em 4.25em 1fr 4.25em 3.3125em;
        grid-template-areas: 
            ".  .  main-date    .  ."
            ".  .      .        .  ."
            ".  .  main-heading .  ."
            ".  .      .        .  ."
            ".  .  main-desc    .  ."
            ".  .      .        .  ."
            ". img    img     img  ."
            ".  .      .        .  ."
            ".  .     post       . ."
        ;
    }

    .featured-post__date {
        grid-area: main-date;
        align-self: end;
    }

    .featured-post__heading {
        grid-area: main-heading;

        font-size: 2.25rem;
    }

    .featured-post__desc{
        grid-area: main-desc;
    }

    .featured-post__desc, .featured-post__wrapper__article__desc{
        font-size: 1.125em;
        line-height: 1.28;
    }

    .featured-post img {
        grid-area: img;
        margin: 0;
        width: 100%;
        max-height: 488px;
        object-position: top center;
    }

    .featured-post__wrapper {
        grid-area: post;
    }

    .featured-post__wrapper__heading {
        font-size: 1.5em;
    }

    .featured-post__wrapper__article__heading,  .featured-post__wrapper__article__desc{
        margin-bottom: 2rem;
    }

    /* Blog */

    .blog ul {
        display: grid;
        grid-template-columns: repeat(3, minmax(19.3125em, 1fr));
        gap: 1.625em;
        padding: 3.3125em;
        
    }
    .blog ul li {
        grid-template: minmax(14.5rem, auto) 1fr 1fr 2fr / 1fr 2fr;
        grid-template-areas:
        "blog-image    blog-image "
        "blog-date         .      "
        "blog-heading blog-heading"
        "blog-desc     blog-desc  "
        ;
    }
    .blog ul li img {
        height: 100%;
    }

    .blog__date {
        align-self: center;
    }

    .blog__heading {
        align-self: center;
    }
}